<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>06_列表渲染_过滤与排序</title>
</head>
<body>
<!--
1. 列表过滤
2. 列表排序
-->
<div id="demo">
  <input type="text" v-model="searchName">
  <ul>
    <li v-for="(p, index) in filterArr" :key="p.id">
      {{p.id}}-------{{p.name}}------{{p.age}}
    </li>
  </ul>
  <button @click='sortType=2'>年龄升序</button>
  <button @click='sortType=3'>年龄降序</button>
  <button @click='sortType=1'>原本顺序</button>
</div>
<script type="text/javascript" src="../js/vue.js"></script>
<script type="text/javascript">
new Vue({
  el:'#demo',
  data(){
    return {
      sortType:1,//1师不排序，2是升序，3是降序
      searchName:'',
      persons: [
          {id: 1, name: 'Tom', age: 15},
          {id: 3, name: 'Jerry', age: 12},
          {id: 5, name: 'Jack', age: 14},
          {id: 7, name: 'Bob', age: 13},
          {id: 2, name: 'Mack', age: 16},
        ]
    }
  },
  computed: {
    filterArr(){
      console.log('2');
      
      const {searchName,persons,sortType} = this;
      let arr = persons.filter((p,index)=>p.name.indexOf(searchName)!== -1)//返回一个p.name中没有input输入的字符的数组
      if(sortType !== 1){
        arr.sort((p1,p2)=>{
          if(sortType === 2){
            return p1.age - p2.age;
          }else{
            return p2.age - p1.age
          }
        })
      }
      return arr
    }
  },
})
</script>
</body>
</html>